*, *:after, *:before {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.todo-app {
}

.todo-form {
}

.todo-form input {
    -webkit-appearance: none;
    padding-left: 0.5em;
    height: 2em;
    border: 1px solid black;
    border-right: none;
}

.todo-form button {
    -webkit-appearance: none;
    border: none;
    width: 2em;
    height: 2em;
    margin: 0;
    border: 1px solid black;
    border-left: none;
    background: #ddd;
}
